body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: space-between;
}

.section-1,
.footer {
  background-color: #1f2937;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 150px;
  padding-bottom: 75px;
}


.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

/* li {
  display: inline;
} */



a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

button {
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 25px;
  font-weight: bold;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  padding: 0 150px;
  
}

.section-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 100px;
  background-color: #1f2937;
}


.hero-text-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 16px;
}
.secondary-hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.footer {
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}